* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--white: #ffffff;
	--dark-blue-100: #609ed4;
	--dark-blue-200: #356ea9;
	--dark-blue-300: #0a3871;
	--dark-blue-400: #072b61;
	--dark-blue-500: #052051;

	--light-blue-100: #f3f5fc;
	--light-blue-200: #eff1fa;
	--light-blue-300: #e9ecf8;
	--light-blue-400: #aab2d5;
	--light-blue-500: #757fb2;

	--gray-100: #ced4da;
	--gray-200: #adb5bd;
	--gray-300: #868e96;
	--gray-400: #495057;
	--gray-500: #343a40;
}

.homepage {
	background-color: var(--light-blue-100);
	width: 1440px;
	height: 1024px;
	font-family: "Montserrat", sans-serif;
	position: relative;
}

.logo {
	position: absolute;
	top: 40px;
	left: 40px;
}

.contenedor-normal-text {
	position: absolute;
	top: 168px;
	left: 240px;
}

#normal-text {
	width: 680px;
	color: var(--dark-blue-500);
	outline: 0;
	border: none;
	background: none;
	resize: none;
	font-family: "Montserrat", sans-serif;
	font-size: 32px;
	font-weight: 400;
	line-height: 150%;
}

#normal-text::placeholder {
	color: var(--dark-blue-500);
	font-size: 30px;
}

/* 

.contenedor-botones-encriptado {
	font-size: 32px;
	border: 1px solid red;
}

.instrucciones p {
	font-size: 12px;
	color: var(--gray-400);
	display: inline-block;
}

.signo-exclamacion {
	width: 12px;
	display: inline-block;
}

.contenedor-botones {
	width: 680px;
	height: auto;
	border: 1px solid red;
	margin: 0 auto;
}

#encriptar,
#desencriptar {
	width: 328px;
	padding: 24px;
	border-radius: 24px;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	display: inline-block;
}

/* EMPIEZA ESTILIZADO DE SECCION DERECHA */
